<div class="modal-content modal-printer">
    <div id="print-section">
        <div class="modal-header" style="padding: auto;">
            <h5>SHIFT</h5>
        </div>
        <div class="modal-body">
            <table class="slip-table">
                <tr>
                    <td class="col-xs-6"><label>Heure debut:</label></td>
                    <td class="col-xs-6"><label>{{shift.startDate |date:'dd/MM/yyyy HH:mm'}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Heure Fin:</label></td>
                    <td class="col-xs-6"><label>{{shift.endDate |date:'dd/MM/yyyy HH:mm'}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Caissier:</label></td>
                    <td class="col-xs-6"><label>{{shift.login}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Balance au debut:</label></td>
                    <td class="col-xs-6"><label>{{shift.startBalance | number: '2.'}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Balance Fin:</label></td>
                    <td class="col-xs-6"><label>{{shift.endBalance | number: '2.'}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Tickets Total:</label></td>
                    <td class="col-xs-6"><label>{{shift.totalSlip}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Tickets de paye:</label></td>
                    <td class="col-xs-6"><label>{{shift.paidSlip}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Tickets Revoqués:</label></td>
                    <td class="col-xs-6"><label>{{shift.revoqSlip}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Payin:</label></td>
                    <td class="col-xs-6"><label>{{shift.totalPayin | number: '2.'}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Payout:</label></td>
                    <td class="col-xs-6"><label>{{shift.totalPayout | number: '2.'}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Revoqued:</label></td>
                    <td class="col-xs-6"><label>{{shift.totalRevoq | number: '2.'}}</label></td>
                </tr>
                <tr>
                    <td class="col-xs-6"><label>Balance:</label></td>
                    <td class="col-xs-6"><label style="font-weight: bold;">{{shift.totalBalance | number: '2.'}}</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button nbButton matRipple (click)="close()">Close</button>
        <button nbButton matRipple printSectionId="print-section" [previewOnly]="false" ngxPrint>
            Imprimer
        </button>
    </div>

</div>