<div class="row">

  <div class="col-sm-12">
    <nb-card size="">
      <nb-tabset fullWidth>
        <!--
        <nb-tab *ngFor="let game of AllGames" tabTitle="{{game}}&nbsp;game">
          <div class="row">
            <div class="col-sm-9"><ngx-checkin></ngx-checkin></div>
            <div class="col-sm-3"><ngx-checkin></ngx-checkin></div>
          </div>
        </nb-tab>
        -->

        <nb-tab tabTitle="Keno" [disabled]="!(canBetKeno && connected)">
          <div class="row">
            <div class="col-sm-12"><ngx-keno></ngx-keno></div>
            <!--<div class="col-sm-3"><ngx-checkin></ngx-checkin></div>-->
          </div>
        </nb-tab>

        <nb-tab tabTitle="Paiement" [disabled]="!connected">
          <ngx-payment></ngx-payment>
        </nb-tab>

        <nb-tab tabTitle="Shift">
          <ngx-shift></ngx-shift>
        </nb-tab>

      </nb-tabset>
    </nb-card>
  </div>
</div>